arabic-reshaper
asgiref
asn1crypto
certifi
cffi
chardet
charset-normalizer
click
colorama
cryptography
cssselect2
Django
django-widget-tweaks
freetype-py
gunicorn 
html5lib
idna
lxml
oscrypto
Pillow
pycairo
pyHanko
pyhanko-certvalidator
pypdf
pypng
python-bidi
pytz
PyYAML
qrcode
reportlab
requests
rlPyCairo
six
sqlparse
svglib
tinycss2
typing_extensions
tzdata
tzlocal
uritools
urllib3
webencodings
xhtml2pdf
